.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.title{
    font-size: 16px;
    font-weight: 700;
    margin-top: 2rem;
}

.subtitle, .supportingText{
    color: #52545B;
    margin-top: .5rem;
    font-size: 12px;
}

.qrContainer{
    width: 80%;
    aspect-ratio: 1;
    max-width: 500px;
    background-color: #eff0f1;
    border: 3px solid #D4D5D8;
    margin: 1rem;
}

@media (min-width: 768px) {
    .title{
        font-size: 18px;
    }

    .subtitle, .supportingText{
        font-size: 14px;
    }
}