
.container{
    display: flex;
    flex-direction: column;
}


.title{
    align-self: flex-start;
    font-weight: 600;
    font-size: 20px;  
    margin: 1rem 0rem;
}

.subtitle{
    font-size: 12px;
    color: #54525D;
}

.container hr{
    width: 100%;
    margin-bottom: 1rem;
}

.body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.progress{
    display: flex;
    gap: 3%;
    width: 80%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
}

.progress div{
    height: 2px;
    width: 31.3%;
    border-radius: .5rem;
}

.step {
  flex: 1;
  height: 6px;
  background-color: #d9d9d9;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.filled {
  background-color: #003883;
}
.form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 2rem;
}

.inputContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.inputContainer p,
.radioContainer p,
.radioContainer label{
    font-size: 12px;
}

.inputContainer input,
 .inputContainer textarea,
 .inputContainer select{
    border: 1px solid #D4D5D8;
    width: 300px;
    padding: .5rem ;
    font-size: 12px;
}

.form button {
    background-color: #FFDE59;
    width: 300px;
    padding: .5rem;
    border-radius: .2rem;
    font-size: 12px;
}

.verificationConfirm{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.verificationTitle{
    font-weight: 700;
    font-size: 16px;
    margin-bottom: .5rem
}

.verificationSubTitle{
    font-size: 12px;
}

.verificationConfirm button{
    width: 200px;
    padding: .5rem;
    border-radius: .2rem;
    font-size: 12px;
    margin-top: 1rem;
}

.activeButton{
    background-color: #FFDE59;
}

.inactiveButton{
    color: #8F9299;
    background-color: #F1F1F2;
}

.resend{
    font-size: 12px;
    margin-top: 1rem;
    color: #696C74;
}


.visitDetails{
    width: 100%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    max-width: 800px;
}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    gap: .5rem;
}

.header h4{
    font-size: 16px;
    font-weight: 700;
}

.infoBox{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    padding: .8rem;
}

.infoBox h3{
    text-align: left;
    align-self: flex-start;
    padding: 0rem 1rem;
    font-weight: 600;
}

.info{
    display: flex;
    font-size: 12px;
    justify-content: space-between;
    width: 100%;
    padding: 0 1rem;
}

.info p{
    color: #737780;
}

.info h4{
    color: #1e1e1e;
    font-weight: 600;
    text-align: right;
    font-size: 12px;
    width: 60%;
}

.divider{
    width: 10%;
    margin: 1rem;
}

.buttonGroup{
    padding: 1.3rem;
    display: flex;
    gap: 1rem;
}

.buttonGroup button{
    font-size: 12px;
    padding: .2rem 1rem;
    border-radius: .25rem;
}

.entry{
    background-color: #FFDE59;
    color: #1e1e1e;
}

.manually{
    border: 1px solid #D4D5D8;
    color: #003883;
}

.radioContainer{
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.labelGroup{
    display: flex;
    gap: 1rem;
}

.labelGroup label{
    display: flex;
    align-items: center;
    gap: .5rem
}



@media (min-width: 768px) {
    .verificationTitle{
        font-size: 18px;
    }

    .verificationSubTitle{
        font-size: 16px;
    }
}
