
.container{
    display: flex;
    flex-direction: column;
}


.title{
    align-self: flex-start;
    font-weight: 600;
    font-size: 20px;
}

.subtitle{
    font-size: 12px;
    color: #54525D;
}

.container hr{
    width: 100%;
    margin-bottom: 1rem;
}

.buttonGroup{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin-top: 3rem;
}

.buttonGroup button{
    font-size: 14px;
    display: flex;
    align-items: center;
    width: 250px;
    padding: .5rem 1rem;
    border: 1px solid #D4D5D8;
    justify-content: center;
    gap: .5rem;
    border-radius: .3rem;
    font-weight: 600;
    color: #303236;
    cursor: pointer;
}



.goBack{
    font-size: 14px;
    align-self: flex-start;
    padding: .5rem 1rem;
    border: 1px solid #D4D5D8;
    border-radius: .5rem;
    display: flex;
    align-items: center;
    gap: .5rem;
}

