.container{
    width: 100%;
    border: 1px solid #D4D5D8;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: .5rem;
    border-radius: .25rem;
}

.tag{
    display: flex;
    align-items: center;
    gap: .5rem;
    background-color: #FFECEC;
    width: fit-content;
    padding: .3rem .6rem;
    font-size: 14px;
    color: #FF4040;
    border-radius: .8rem;
}

.detail{
    font-size: 12px;
}

@media (min-width: 768px) {
    .detail{
        font-size: 14px;
    }
}