.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
    border: 5px solid #e9e9e9;
    box-sizing: border-box;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1200px;
    align-self: center;
    justify-self: center;
    padding: 10px;
    width: 100%;
}

.container hr{
    width: 90%;
    border: none;
    border-top: 1px solid #e9e9e9;
    margin: 20px 0px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navItems{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.item{
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    color: #000;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    cursor: pointer;
    gap: 10px;
    background-color: transparent;
    transition: 0.4s;
}

.item:hover{
    color: #000;
    background-color: var(--inactive-color);
}

.active{
    background-color: var(--main-color);
    color: #fff;
}

.gateTitle, .time, .date{
    display: none;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 5px;
    margin-top: 20px;
}

.titleDate{
    font-size: 14px;
    margin-left: 20px;
    color: #303236;
}


@media (min-width: 768px) {
    
    .container{
        flex-direction: row;
        background-color: #f1f1f2;
        justify-content: space-between;
    }

    .left{
        background-color: #fff;
        width: 24.5%;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .gateInfo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        margin-top: 10px;
    }

    .gateTitle{
        font-weight: 600;
        font-size: 18px;
    }

    .time{
        font-size: 42px;
        font-weight: 600;
        margin-top: 10px;
        color: #303236;
    }

    .date{
        font-size: 16px;
        margin-top: 0px;
        color: #303236;
    }

    .gateTitle, .time, .date{
        display: block;
    }

    .right{
        background-color: #fff;
        width: 74%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .right h1{
        font-size: 20px;
        align-self: flex-start;
        margin-left: 20px
    }

    .right hr{
        margin-left: 20px;
        margin-right: 20px;
        width: calc(100% - 40px);
    }

    .top{
        display: flex;
        align-items:flex-end;
        justify-content: space-between;
        width: 100%;
        padding: 10px 20px;
    }

    .buttonGroup{
        display: flex;
        gap: 10px;
    }

    .buttonGroup *{
        border-radius: 2px;
    }

    .entry{
        background-color: var(--accent-color);
        padding: 3px 40px;
        color: #000;
        font-size: 12px;
        border: none;
    }

    .exit{
        background-color: transparent;
        border: 1px solid var(--inactive-color);
        font-size: 12px;
        padding: 3px 40px;
        color: var(--main-color);
    }

}