.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95vh;
    border: 5px solid #e9e9e9;
    box-sizing: border-box;
    margin: 20px auto;
    border-radius: 10px;
    max-width: 1200px;
    align-self: center;
    justify-self: center;
    padding: 10px;
    width: 100%;
}

.container h1{
    font-size: 21px;
    font-weight: 600;
    margin-bottom: -10px;
    margin-top: 20px;
}

.container hr{
    width: 90%;
    border: none;
    border-top: 1px solid #e9e9e9;
    margin: 20px 0px;
}

.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.gateTitle, .time, .date{
    display: none;
}

.right{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
}

.input{
    width: 300px;
    height: 32px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    font-size: 12px;
}

.label{
    font-size: 14px;
    margin-left: 10px;
}

.error{
    color: #FF4040;
    font-size: 12px;
    margin-left: 10px;
    margin-top: -5px;
}

.button{
    width: 300px;
    height: 40px;
    margin: 10px;
    background-color: var(--accent-color);
    color: #000;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
}

@media (min-width: 768px) {
    
    .container{
        flex-direction: row;
        background-color: #f1f1f2;
        justify-content: space-between;
    }

    .left{
        background-color: #fff;
        width: 24.5%;
        height: 100%;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .gateInfo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-size: 18px;
        margin-top: 10px;
    }

    .gateTitle{
        font-weight: 600;
        font-size: 18px;
    }

    .time{
        font-size: 42px;
        font-weight: 600;
        margin-top: 10px;
        color: #303236;
    }

    .date{
        font-size: 16px;
        margin-top: 0px;
        color: #303236;
    }

    .right{
        background-color: #fff;
        width: 74%;
        height: 100%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .right h1{
        font-size: 24px;
        align-self: flex-start;
        margin-left: 20px
    }

    .right hr{
        margin-left: 20px;
        margin-right: 40px;
        width: calc(100% - 80px);
    }
    
    .form{
        width: fit-content;
        align-self: center;
        justify-self: center;
    }

    .gateTitle, .time, .date{
        display: block;
    }
}